body{
    background-color: whitesmoke
}
p{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.estilo{
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
    padding: 5%;
    align-items: center;
}


button{
    text-decoration: none;
    padding: 40px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 25px;
    color: black;
    background-color: burlywood;
  }
button:hover{
    color: whitesmoke;
    background-color: moccasin;
    text-decoration: none;
  }